<section class="gallery" id="gallery">
  <div class="container gallery_container" >

  <h2 class="gallery-title">Gallery</h2>

      <button class="my-gallery-next">
  <svg class="icon-arrow">
    <use href="./img/sprite.svg#icon-right"></use>
  </svg>
      </button>
      <button class="my-gallery-prev">
  <svg class="icon-arrow">
    <use href="./img/sprite.svg#icon-left"></use>
  </svg>
      </button>



 <div id="gallery-swiper" class="swiper"
         data-pagination=".swiper-pagination"
         data-next=".my-gallery-next"
         data-prev=".my-gallery-prev">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <img
          class=""
          src="./img/gallery/pic-1@1x.jpg"
          srcset="./img/gallery/pic-1@1x.jpg 1x,
                  ./img/gallery/pic-1@2x.jpg 2x"
          alt="fruits">
        </div>

        <div class="swiper-slide">
          <img
          class=""
          src="./img/gallery/pic-2@1x.jpg"
          srcset="./img/gallery/pic-2@1x.jpg 1x,
                  ./img/gallery/pic-2@2x.jpg 2x"
          alt="boll">
        </div>

        <div class="swiper-slide">
          <img
          class=""
          src="./img/gallery/pic-3@1x.jpg"
          srcset="./img/gallery/pic-3@1x.jpg 1x,
                  ./img/gallery/pic-3@2x.jpg 2x"
          alt="pink-pancakes">
        </div>

        <div class="swiper-slide">
          <img
          class=""
          src="./img/gallery/pic-4@1x.jpg"
          srcset="./img/gallery/pic-4@1x.jpg 1x,
                  ./img/gallery/pic-4@2x.jpg 2x"
          alt="coloured-pancakes">
        </div>

        <div class="swiper-slide">
          <img
          class=""
          src="./img/gallery/pic-5@1x.jpg"
          srcset="./img/gallery/pic-5@1x.jpg 1x,
                  ./img/gallery/pic-5@2x.jpg 2x"
          alt="layers">
        </div>

      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>


</section>