<section class="how-to-play" id="how-to-play">
  <div class="container how-to-play__container" >

<h1 class="title">How to Play</h1>
<p class="main-description">Match identical objects and clear every level</p>

<div class="all-img-container">

      <div class="one-img-container">
<img
class="img"
src="../img/how-to-play/search@1x.jpg"
srcset="../img/how-to-play/search@1x.jpg 1x,
        ../img/how-to-play/search@2x.jpg 2x"
alt="Search Through 3D Collections">
<h2 class="description-title">Search Through 3D Collections</h2>
<p class="description">Find matching objects hidden across the puzzle board.</p>
    </div>


        <div class="one-img-container">
<img
class="img"
src="./img/how-to-play/create@1x.jpg"
srcset="../img/how-to-play/create@1x.jpg 1x,
        ../img/how-to-play/create@2x.jpg 2x"
alt="Create Triple Matches">
<h2 class="description-title">Create Triple Matches</h2>
<p class="description">Collect three identical items to remove them.</p>
    </div>


        <div class="one-img-container">
<img
class="img"
src="../img/how-to-play/complete@1x.jpg"
srcset="../img/how-to-play/complete@1x.jpg 1x,
        ../img/how-to-play/complete@2x.jpg 2x"
alt="Complete Puzzle Objectives">
<h2 class="description-title">Complete Puzzle Objectives</h2>
<p class="description">Clear all objects to finish each challenge.</p>
    </div>


        <div class="one-img-container">
<img
class="img"
src="../img/how-to-play/use@1x.jpg"
srcset="../img/how-to-play/use@1x.jpg 1x,
        ../img/how-to-play/use@2x.jpg 2x"
alt="Use Helpful Boosters">
<h2 class="description-title">Use Helpful Boosters</h2>
<p class="description">Hints and puzzle tools support difficult stages.</p>
    </div>


        <div class="one-img-container">
<img
class="img"
src="../img/how-to-play/unlock@1x.jpg"
srcset="../img/how-to-play/unlock@1x.jpg 1x,
        ../img/how-to-play/unlock@2x.jpg 2x"
alt="Unlock New Layouts">
<h2 class="description-title">Unlock New Layouts</h2>
<p class="description">Progress through fresh object themes and puzzle styles.</p>
    </div>


</div>
</div>
</section>