.about {
  width: 100%;
  padding: 56px 0 48px;

  background: linear-gradient(270deg, #e1e8ed 0%, #fff 50%, #e1e8ed 100%);
}

.about__container {
  box-sizing: border-box;
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 24px;
}

.about__title {
  margin: 0 0 24px;

  font-weight: 800;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  color: #0b0e14;
}

.about__content {
  max-width: 327px;
  margin: 0 auto;
}

.about__text {
  margin: 0;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.35;
  color: #2d3436;
}

.about__text:not(:last-child) {
  margin-bottom: 16px;
}

/* Desktop 1440px */

@media screen and (min-width: 1440px) {
  .about {
    min-height: 620px;
    padding: 170px 0 140px;

    background: linear-gradient(270deg, #e1e8ed 0%, #fff 50%, #e1e8ed 100%);
  }

  .about__container {
    max-width: 1440px;
    padding: 0;
  }

  .about__title {
    margin-bottom: 32px;

    font-size: 32px;
    line-height: 1.2;
  }

  .about__content {
    max-width: 640px;
  }

  .about__text {
    font-size: 16px;
    line-height: 1.35;
  }

  .about__text:not(:last-child) {
    margin-bottom: 24px;
  }
}