.gallery {
  padding-bottom: 35px;
  background: linear-gradient(270deg, #e1e8ed 0%, #fff 50%, #e1e8ed 100%);
  scroll-margin-top: 60px;
}

.gallery_container {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  padding: 32px 0;
  box-sizing: border-box;
  position: relative;
}

.gallery-title {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  color: #0B0E14;
  padding-bottom: 16px;
  margin: 0 auto;
}

    body {
        font-family:
          Helvetica Neue,
          Helvetica,
          Arial,
          sans-serif;
        font-size: 14px;
        margin: 0;
        padding: 0;
      }

      .swiper {
        width: 100%;
          position: relative;
            overflow: visible;

      }

      .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
gap: 32px;
      }

      .swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 16px;
      }

.my-gallery-next,
.my-gallery-prev {
  display: none !important; /* Ховаємо на мобільних */
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
  z-index: 10;
  /* Центруємо вертикально */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.my-gallery-next::after,
.my-gallery-prev::after,
.my-gallery-next::before,
.my-gallery-prev::before {
  display: none !important;
  content: "" !important;
}

.swiper {
  --swiper-pagination-color: #2D3436;
    overflow: visible;
    width: 341px;
}


      @media screen and (min-width: 1440px) {
  .container {
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .gallery {
    padding-bottom: 120px;
     scroll-margin-top: 90px;
  }

  .gallery_container {
    position: relative;
  }

.my-gallery-next,
.my-gallery-prev {
    display: flex !important;
  }

 .my-gallery-prev {
    left: 0;
  }
  .my-gallery-next {
    right: 0;
  }

  .swiper {
overflow: hidden;
width: 1087px;
margin: 0 auto;
  }

.my-gallery-next::after,
.my-gallery-prev::after,
.my-gallery-next::before,
.my-gallery-prev::before{
  display: none !important;
  content: "" !important;
}
.icon-arrow {
  width: 25px;
  height: 40px;
  fill: #0B0E14;
  transition: fill 0.3s ease;
}


}