.gallery {
  padding-bottom: 35px;
  background: linear-gradient(270deg, #e1e8ed 0%, #fff 50%, #e1e8ed 100%);
}

.gallery_container {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  padding: 32px 0;
  box-sizing: border-box;
}

.gallery-title {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  color: #0B0E14;
  padding-bottom: 16px;
  margin: 0 auto;
}

    body {
        font-family:
          Helvetica Neue,
          Helvetica,
          Arial,
          sans-serif;
        font-size: 14px;
        margin: 0;
        padding: 0;
      }

      .swiper {
        width: 100%;
          position: relative;
            overflow: visible;

      }

      .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  padding-left: 60px;
  padding-right: 60px;
      }

      .swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 16px;
      }

.swiper-button-next,
.swiper-button-prev {
  display: none !important;
   border: none;
   background: transparent;

}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none !important;
  content: none !important;
}

.swiper {
  --swiper-pagination-color: #2D3436;
}


      @media screen and (min-width: 1440px) {
  .container {
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .gallery {
    padding-bottom: 120px;
  }

  .swiper-button-next,
  .swiper-button-prev {
     display: flex !important;

  }
}